:root{
    --displayAddS: none;
    --displayUpdateS: none;
}

.Contests{
    background-color: white;
    margin: 1.5rem 1.5rem 1.5rem 0;
    border-radius: 20px;
    padding: 1.5rem;
    animation: displayContests 0.5s ease-out;
    overflow-y: auto;
}

@keyframes displayContests {
    0%{
        opacity: 0%;
        transform: translateY(10%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}

.Contest{
    display: flex;
    margin-bottom: 1rem;
    transform: translateY(-0.25rem);
}

.Add-Contest-Button{
    margin-left: 1.5rem;
    padding: 0px 0.7rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #017256; 
    color: white;
    cursor: pointer;
}

.Add-Contest{
    display: var(--displayAddS);
    padding-bottom: 1.5rem;
    /* display: flex; */
}

.Update-Contest{
    display: var(--displayUpdateS);
    padding-bottom: 1.5rem;
    /* display: flex; */
}


.Add-Contest input, .Update-Contest input{
    border-radius: 7.5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 0.7rem 0.5rem;
    font-size: 14px;
}

.Add-Contest input:nth-child(1), .Update-Contest input:nth-child(1){
    margin: 0 1rem 0 0;
}

.Add-Contest input:focus, .Update-Contest input:focus{
    outline: 1px solid #017256;
    border-color: #017256;
    box-shadow: none;
}

.Add-Contest button:nth-child(3), .Update-Contest button:nth-child(3){
    background-color: #017256;
    color: white;
    margin: 0 1rem;
}

.Add-Contest button:nth-child(4), .Update-Contest button:nth-child(4){
    color: black;
}

.Add-Contest button:nth-child(3):hover, .Update-Contest button:nth-child(3):hover{
    background-color: #017256;
    color: white;
}

.Add-Contest button:nth-child(4):hover, .Update-Contest button:nth-child(4):hover{
    background-color: #f2f2fd;
    color: black;
}

.Contests-heading{
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr 1fr;
    background-color: #f2f2fd;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #c3c3cf;
}

.Contests-heading div{
    /* border: 1px solid; */
    text-align: center;
    padding: 20px 10px;
    /* padding: 20px; */
}

.Contests-column{
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border-bottom: 2px solid rgb(233, 233, 233);
}

.Contests-column:hover{
    transform: scale(1.01);
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.Contests-column div{
    padding: 15px 10px;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    /* border: 1px solid; */
}
