.codingimg{
    width: 30px;
    height: 30px;
}

.codingimg:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.project-item{
    width: 100%;
    
}

.project-item:hover{
    background-color: aliceblue;
    transform: scale(1.02);
   -webkit-transition:  box-shadow 15s ease-out;
}

.platform:hover{
    background-color: #e9ecef;
}

